</br>
<footer class="container-fluid py-5 final-footer d-print-none" itemscope itemtype="https://schema.org/Restaurant">
    <div class="row">
        <div class="col-12 col-md">
            <h5 class="logo-color" itemprop="name"> <img src="/images/logo.png" alt="{{company}} Logo" width="30" />
                {{company}}</h5>
            <div class="d-block mb-3 text-muted" itemprop="address" itemscope
                itemtype="https://schema.org/PostalAddress">
                <span itemprop="streetAddress">2195 Station Village Ste A</span>
                <span itemprop="addressLocality">San Diego</span>,
                <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">92108 </span>
            </div>
            <small class="d-block mb-3 text-muted">&copy; 2021 {{company}}</small>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a itemprop="hasMenu" href="/menu">Menu</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms">Terms</a></li>
            </ul>

        </div>
        <div class="col-6 col-md">
            <h5>Contact Us</h5>
            <ul class="list-unstyled text-small" style="color: white;">
                {{!-- <li><a href="mailto:hello@{{domain}}">hello@{{domain}}</a></li> --}}
                <li>
                    Tel: <span itemprop="telephone">{{phone}}</span>
                </li>
                <li>
                    <meta itemprop="openingHours" content="Mo-Sun 08:00-22:00" /> 🕚 Monday – Sunday: 8:00 AM – 10:00
                    PM
                </li>
                <li><a href="{{onlineMenu}}">Order Online</a></li>
                <li>🚗 We deliver with DoorDash, <a href="https://www.grubhub.com/restaurant/luccas-pizza-and-market-2195-station-village-way-san-diego/2902423" itemprop="sameAs" target="_blank">GrubHub</a>, and UberEats.</li>
                <li itemprop="hasPOS" content="true">💳 VISA, MasterCard, Apple Pay, Google Pay payments are accepted</li>
                <li><a itemprop="sameAs" href="https://www.facebook.com/luccasPizzaMarket/">Facebook page</a></li>
            </ul>
            <span style="display: hidden;">
                Categories:
                <span itemprop="servesCuisine">
                    Italian Pizza
                </span>,
                <span itemprop="servesCuisine">
                    Organic Market
                </span>
            </span>

            Price Range: <span itemprop="priceRange">$$</span>
        </div>
        <div class="col-12 col-md">

            {{!-- <h5>Get 10% off your first order!</h5>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="youremail@example.com" />
                <div class="input-group-append">
                    <button class="btn btn-warning">Subscribe</button>
                </div>
            </div>

            <p class="lead">Sign up for the {{company}} newsletter for hacks, exclusive deals, new product releases, and
                much more.</p> --}}
        </div>
    </div>
</footer>