</br>
<footer class="container-fluid py-5 final-footer">
    <div class="row">
        <div class="col-12 col-md">
            <h1>{{company}}</h1><br />
            <small class="d-block mb-3 text-muted">&copy; 2020 {{company}}</small>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a href="/menu">Menu</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms">Terms</a></li>
            </ul>

        </div>
        <div class="col-6 col-md">
            <h5>Contact Us</h5>
            <ul class="list-unstyled text-small">
                <li><a href="mailto:hello@{{domain}}">hello@{{domain}}</a></li>
                <li><a href="/about">Contact us page</a></li>
            </ul>
        </div>
        <div class="col-12 col-md">

            <h5>Get 10% off your first order!</h5>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="youremail@example.com" />
                <div class="input-group-append">
                    <button class="btn btn-warning">Subscribe</button>
                </div>
            </div>

            <p class="lead">Sign up for the {{company}} newsletter for hacks, exclusive deals, new product releases, and
                much more.</p>
        </div>
    </div>
</footer>